body{
    margin:0;
    background:#8FA6C9;
    font-family:Lucida Sans Regular;
}

.container{
    width:90%;
    margin:auto;
    border:12px solid #102845;
    min-height:100vh;
    padding:30px;
}

header{
    text-align:center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-content img{
    width: 80px;
    height: auto;
}

.header-content h1{
    margin: 0;
}

h1{
    font-size:5rem;
    letter-spacing:10px;
    color:#111;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:40px 0;
}

nav a{
    text-decoration:none;
    background:#6F1B1E;
    color:white;
    padding:15px 25px;
    font-weight:bold;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:80px;
}

.welcome{
    width:88%;
}

.target img{
    width:250px;
    height:auto;
}

footer{
    text-align:center;
    margin-top:100px;
    color:white;
}